.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}

.button-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.full-width {
  width: 100%;
  margin-top: 16px;
}

input-full-width {
  width: 100%; /* Faz o form-field ocupar o máximo possível */
}

.material-symbols-outlined {
  color: gray;
}

::ng-deep .custom-spinner circle {
  stroke: #ff5e00;
}

/* Quando o input estiver em foco (ativo) */
mat-form-field.mat-focused .material-symbols-outlined {
  color: #005cbb; /* A cor que você deseja quando o input estiver ativo */
}

/* Quando o ícone for passado por cima (hover) */
.material-symbols-outlined:hover {
  color: #005cbb; /* A cor que você deseja quando passar o mouse sobre o ícone */
}

.created-booking {
  background-color: #ff5e00 !important;
  color: white !important;
  cursor: pointer;
}

.no-items-found {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}

.no-items-found-text {
  font-style: italic;
  color: #5a5a5a;
}

.no-items-found-button {
  color: #ff5e00 !important;
  &:hover {
    background-color: #fadabd;
  }
}

.no-items-found-text {
  font-style: italic;
  color: #5a5a5a;
}

.button-outlined {
  color: #ff5e00 !important;
  border: 1px solid #ff5e00 !important;
  &:hover {
    background-color: #fadabd;
  }
  &:disabled {
    color: #ffc299 !important;
    border: 1px solid #ffc299 !important;
    cursor: not-allowed;
  }
}
