<header>
  <img src="assets/images/gol-logo.png" alt="logo GOL Linhas Aéreas" />
  <p>GOL Data Analytics | Developer Case - Camila Fernandes</p>
</header>

<mat-drawer-container class="custom-container">
  <mat-drawer mode="side" opened>
    <!-- Dashboard Button -->
    <mat-nav-list>
      <mat-list-item (click)="navigateToDashboard()">
        <div class="mat-list-item">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </div>
      </mat-list-item>

      <!-- Reservas de voos Button -->
      <mat-list-item (click)="navigateToBooking()">
        <div class="mat-list-item">
          <mat-icon>flight_takeoff</mat-icon>
          <span>Reservas de voos</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
