header {
  display: flex; /* Alinha a imagem e o texto lado a lado */
  align-items: center; /* Alinha verticalmente a imagem e o texto no centro */
  gap: 10px; /* Espaço entre a imagem e o texto */
  padding: 20px 10px; /* Adiciona um pouco de espaçamento interno ao header */
  background-color: #f4f4f4; /* Cor de fundo (opcional, pode mudar) */
  max-height: 244px;
  line-height: 24px;
}

header img {
  width: 4.688rem; /* Controla o tamanho da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

header p {
  font-size: 16px; /* Define o tamanho da fonte do texto */
  font-weight: 400;
  margin: 0; /* Remove o espaço padrão das margens */
  color: #333; /* Cor do texto */
}

// div {
//   padding-left: 10rem;
//   padding-right: 10rem;
// }
